{%extends 'layout.html'%} {%block title%} Home {%endblock%}
<!---->
{% block content %}

<h1>Cocina Inteligente</h1>
<img src="static/images/cocina_2.jpeg" alt=""  width='280' height='150'>
<img src="static/images/cocina_3.jpeg" alt=""  width='280' height='150'>
<img src="static/images/cocina_1.jpeg" alt=""  width='280' height='150'>
<img src="static/images/cocina_4.jpeg" alt=""  width='280' height='150'>


<h3> Dispositivos Electronicos</h3>
<img src="static/images/raspberry.jpeg" alt="Raspberry pi">
<img src="static/images/ESP32.jpeg" alt="ESP32 Cam">


<h3> Integrantes </h3>
<ul class='my-columns-3 my-columns'> 
    <li class='column'> Elkin Alejandro Romero Hernandez</li>
    <li class='column'> David Hernando Jimenez Rodriguez</li>
    <li class='column'> Camilo Andres Rodriguez Navarrete</li>
</ul>
<ul class='my-columns-3 inside-column'> 
    <li class='column'> earomeroh@unal.edu.co</li>
    <li class='column'> dhjimenezr@unal.edu.co</li>
    <li class='column'> caarodriguezna@unal.edu.co</li>
</ul>

{% endblock %}
