{%extends 'layout.html'%} {%block title%} Home {%endblock%}
<!---->
{% block content %}

<h1>Cocina Inteligente</h1>
<img src="static/images/cocina_2.jpeg" alt=""  width='280' height='150'>
<img src="static/images/cocina_3.jpeg" alt=""  width='280' height='150'>
<img src="static/images/cocina_1.jpeg" alt=""  width='280' height='150'>
<img src="static/images/cocina_4.jpeg" alt=""  width='280' height='150'>


<h3> Dispositivos Electronicos</h3>
<img src="static/images/raspberry.jpeg" alt="Raspberry pi">
<img src="static/images/alambra_II.jpeg" alt="Alambra II">
<img src="static/images/ESP32.jpeg" alt="ESP32 Cam">
{% endblock %}
