{%extends 'layout.html'%} {% block title%} Recepies {%endblock%}
<!---->
{%block content%}

<div class='my-columns my-columns-3'>
    <h3 class='column'> Select from <b> Dish Type </b></h3>
    
    <h3 class='column'> Select from <b> Product</b></h3>  
</div>
    <form action="" method ="post" class='my-columns my-columns-3'>
        <select name="item_1" class='column'> 
            {% for item in items1%}
            <option value={{item}}>{{item}}</option>
            {%endfor%}
        </select>
        <select name="item_2" class='column'> 
            {% for item in items2%}
            <option value={{item}}>{{item}}</option>
            {%endfor%}
        </select>   
        <input type="submit" class='column'>   
    </form>
{%if table%}
    <div class='my-columns my-columns-1'>
        <table class="styled-table column">
            <thead>
                <tr>
                    {%for head in table[0]%}
                        <th> {{head}} </th>
                    {%endfor%}
                </tr>
            </thead>
            <tbody>
                {%for row in table[1:]%}
                <tr> 
                    {%for cell in row%}
                        {%if cell == row[-1]%}
                            {%  continue%}
                        {%endif%}
                        {%if cell == row[0]%}
                            <td> <a href={{row[-1]}} target="_blank">{{cell}}</a></td>    
                        {%else%}
                            <td> {{cell}}</td>
                        {%endif%}
                    {%endfor%}
                </tr>
                {%endfor%}
            </tbody>   
        </table> 
    </div>      
{%endif%}


{%endblock%}
